* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  width: 1000px;
  margin: 0 auto;
}

#menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 25px;
  box-shadow: 0px 4px 3px -4px #000;
}

#menu a {
  background-color: #555;
  color: #fff;
  padding: 12px 35px;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.8rem;
}

#menu a:hover {
  background-color: #999;
}

/* NÃO ALTERE DAQUI PRA CIMA */
/* ESCREVA SEU CÓDIGO ABAIXO */
#layout{
  display: flex;
  width: 1000px;
  height: 500px;
  background-color: #999;
  flex-direction: column;
}
.Di1{
  display:flex;
  background-color: rgb(151, 100, 199);
  flex: 2;
}

.Di2{
  display:flex;
  background-color:rgb(126, 0, 175);
  flex: 1;
}
.Di11{
  display:flex;
  flex-direction:column;
  background-color:rgb(182, 32, 202);
  flex: 2; 
}
.Di12{
  display:flex;
  flex-direction:row;
  background-color:rgb(173, 1, 196);
  flex: 1; 
}
.DivC{
  display:flex;
  flex-direction: row;
  background-color:rgb(214, 159, 223);
  flex: 2;
}
.DivA{
  display:flex;
  background-color:rgb(170, 90, 190);
  flex-direction: column;
  flex: 1;
}
#DArtigo2{
  background-color: rgb(198, 97, 218);
}

#layout2{
  display: flex;
  width: 1000px;
  height: 500px;
  background-color: #999;
  flex-direction: column;
}
.DivBty{
  display: flex;
  flex-direction: row;
  flex:1;
  background-color: rgb(236, 147, 194);
}
.DivFlor{
  display: flex;
  flex-direction: row;
  flex:3;
  background-color: #ca70a7;
}
.DivArv{
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: #b40078;
}
#divmenu{
  display:flex;
  background-color:rgb(255, 207, 241);
  flex: 1;
  padding: 10px;
}
#divcontent{
  background-color: #ca70a7;
  flex: 2;
  flex-direction:column;
}
#divad{
  background-color: #e659b7;
  flex: 1;
}
#divmenu ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  padding: 15px;
}

#divmenu li{
  background-color: #fd7fec;
  color: #030000;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 15px;
}
#divmenu h2{
  margin-bottom: 10px;
}
#divcontent p{
  font-size: 12px;
  padding: 12px 16px;
  border-radius: 8px;
  width: 450px;
  
}

#layout3{
  display: flex;
  width: 1000px;
  height: 700px;
  background-color: #ffffff;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.Div1{
  display: flex;
  width: 300px;
  height: 150px;
  flex:1;
  background-color:#7a0000;
  flex-direction: column;
}
.Div2{
  display: flex;
  width: 300px;
  height: 300px;
  flex:1;
  background-color: #9c5353;
  flex-direction: column;
}
.Div3{
  display: flex;
  width: 250px;
  height: 100px;
  flex:1;
  background-color: #f83636;
  flex-direction: column;
}
.Div4{
  display: flex;
  width: 300px;
  height: 400px;
  flex:1;
  background-color: #8d3535;
  flex-direction: column;
}
.Div5{
  display: flex;
  width: 300px;
  height: 500px;
  flex:1;
  background-color: #d83d3d;
  flex-direction: column;
}
.Div6{
  display: flex;
  width: 300px;
  height: 140px;
  flex:1;
  background-color: #4e0000;
  flex-direction: column;
}